body {
    background-color: #f0fffc;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;

    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 3.5rem;
    background-color: #080708;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1 green, blue, alpha);
}



.nav li {
    display: inline-block;
    font-size: 25px;
    padding: 20px;
    }

nav h1 {
        color: blueviolet
        ;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        max-width: :68.75rem;
        margin: auto;
    }

    .bio {
        font
    }

    .text {
        font-size: 30px;
    }

    .about img {
        height: 30rem;
        width: 30rem;
    }

    .bio {
        width: 25rem;
        padding: 0.6rem;
        border-radius: 5px;
        box-shadow: 0.3rem 0;
    }


.bio h2 {
    margin: bottom 20px;;
  }

  .bio p {
    line-height: 20px;
    padding: 0.3rem 0;
  }

  .skills {
      max-width: 65rem;
      margin: auto;
      text-align: center;
      margin-top: 2.5rem;
  }

  .skill-header {
      margin-bottom: 1rem;
  }

  .skills-set img {
      padding: 1.25rem;
  }

  .icon {
      width: 10rem;
      height: 10rem;
  }

  .icon-card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 3px 10px var(15px);
      padding: 20px;
      margin: 10px;
  }

  .projects {
      text-align: center;
      padding: 50px;
  }
  table{
      text-align: center;
      align-items: flex;
      padding: 60px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }

  table tr {
      padding:;
      font-size: 20px;
      
  }

  table tr td{
    padding: 10px;
    font-size: 25px;
  }

  table a {

      pointer-events: painted;
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 5px;
    margin-bottom: 15px;
    resize: vertical;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: white;
    padding: 12px 20px;
    border: none;
    cursor: pointer;
  }
  

  .container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 10px;
  }

  .container head {
      align-items: center;
      padding: 1;
  }
  
  
  .column {
    float: left;
    width: 30%;
    margin-top: 5px;
    padding: 20px;
  }

  .social {
      padding: 25px;
      font-size: 20px;
      text-align: center;
  }

  .fa {
      padding: 25px;
      text-align: center;
      width: 100px;
      background-color: khaki;
  }

  @media screen and (min-width: 800px) { 
    body {
        background-color: lightblue;
    }
}

@media screen and (max-width: 800px) { 
    body {
        background-color: yellow;
    }
}

  
 



