body {
    background-color: #17dab3;
    align-items: center;
}

nav {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
    display: flex;

    align-items: center;
    justify-content: space-between;
    background-color: #080708;
    box-shadow: grey);
}



.nav li {
    display: inline-block;
    font-size: 25px;
    align-items: center;
    }

nav h1 {
        color: blueviolet
        ;
    }

    .about {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 2.5rem;
        max-width: :68.75rem;
        margin: auto;
    }

    .bio {
        font
        align-i;
    }

    .text {
        font-size: 30px;
        align-items: center;
        text-align: center;
    }

    .about img {
        height: 30rem;
        width: 30rem;
        align-items: center;
    }

    .bio {
        width: 25rem;
        padding: 0.6rem;
        border-radius: 5px;
        box-shadow: 0.3rem 0;
        align-items: center;
    }


.bio h2 {
    margin: bottom 20px;;
  }

  .bio p {
    line-height: 20px;
    padding: 0.3rem 0;
  }

  .skills {
      max-width: 65rem;
      margin: auto;
      text-align: center;
      margin-top: 2.5rem;
      align-items: center;
  }

  .skill-header {
      margin-bottom: 1rem;
  }

  .skills-set img {
      padding: 1.25rem;
      align-items: center;
      text-align: center;
  }

  .icon {
      width: 10rem;
      height: 10rem;
      align-items: center;
  }

  .icon-card {
      background-color: white;
      border-radius: 10px;
      box-shadow: 0 3px 10px var(15px);
      padding: 20px;
      margin: 10px;
      align-items: center;
      text-align: center;
  }

  .projects {
      background-color: black;
      color: white;
      text-align: center;
      padding: 50px;
      align-items: center;
      text-align: center;
  }

  .projects-title {
      font-weight: bold;
      align-items: center;
      text-align: center;
  }


  table{
      text-align: center;
      align-items: center;
      padding: 60px;
      position: relative;
      margin-left: auto;
      margin-right: auto;
  }

  table tr {
      padding:;
      font-size: 20px;
      align-items: center;
      text-align: center;
      
  }

  table tr td{
    padding: 10px;
    font-size: 25px;
    align-items: center;
    text-align: center;
  }

  table a {
    align-items: center;
    align-items: center;
    /* pointer-events: painted; */
  }

  input[type=text], select, textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    margin-top: 6px;
    margin-bottom: 15px;
    resize: vertical;
    align-items: center;
    text-align: center;
  }
  
  input[type=submit] {
    background-color: #04AA6D;
    color: rgb(255, 0, 0);
    padding: 12px 20px;
    border: none;
    cursor: pointer;
    align-items: center;
    text-align: center;
  }
  

  .contacts {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 5px;
    align-items:center;
    text-align: center;
  }

  /* .contacts head {
      align-items: center;
      padding: 15px;
      align-items: center;
  } */
  
  
  .column {
    float: left;
    width: 25%;
    margin-top: 5px;
    padding: 20px;
    align-items: center;
    text-align: center;
  }

  .social {
      float: right;
      padding: 25px;
      font-size: 20px;
      text-align: center;
      align-items: center;
  }

  .fa {
      padding: 25px;
      text-align: center;
      width: 100px;
      background-color: khaki;
      align-items: center;
  }


  
 



